<!DOCTYPE html>
<html>
<head>
	<title>Ads- AngularJS</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body ng-app="softUniApp" ng-controller="MainController">
	<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Ads-AngularJs</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#/register" id="themes" ng-click="showTitle('Registration', true)">Register <span class="caret"></span></a>
            </li>
            <li>
              <a href="#/login" ng-click="showTitle('Login', true)">Login</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="" target="_self" ng-show="titleHeader">{{ titleName }}</a></li>
            <li><a href="#" target="_self" ng-click="showTitle('', false)">{{ home }}</a></li>
             <li><a href="" target="_self" ng-show="showGreeting">{{ greeting }}</a></li>
            <li><a href="#/logout" target="_self">Logout</a></li>
          </ul>

        </div>
      </div>
    </div>
	<div ng-view class="container">
		
	</div>

<div 
  data-pagination="" data-num-pages="numPages()" 
  data-current-page="currentPage" data-max-size="maxSize"  
  data-boundary-links="true">
</div>

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
  <acript src="lib/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/MainController.js"></script>
	<script src="js/services/mainPage.js"></script>
  <script src="js/services/userData.js"></script>
</body>
</html>