<h1>AllAds</h1>
<div class="jumbotron"> 
	<div class="row">
		<div class="col-md-9">
			<h1>Ads</h1>
			<ul id="ul">
				<li ng-repeat="ad in data.ads | filter:{townId: currentTown.id} | filter:{categoryId: curentCategory.id}">
					<div class="container well">
						<div class="row">
							<div class="col-md-9">
								<h2 class="pull-left">
									{{ ad.title}}
								</h2>
							</div>
							<div class="col-md-3">
								<span class="pull-right">
									{{ad.date | date: 'd-MMM-yyyy'}}
								</span>
							</div>
						</div>
						<div>{{curentCategory.name}}</div>
						<div class="row">
								<div class="col-md-4">
									<div class="image-container">
										<img src="" ng-src="{{ ad.imageDataUrl || defaultImage}}" class="imageSize">
									</div>
								</div>
								<div class="col-md-8">
									<div class="well">
										{{ ad.text }}
									</div>
									<div class="row"> 
										<div class="col-md-2 centerDiv">Name: </div>
										<div class="col-md-7 well well-sm">{{ad.ownerName}}</div>
									</div>
									<div class="row"> 
										<div class="col-md-2 centerDiv">Email: </div>
										<div class="col-md-7 well well-sm">{{ ad.ownerEmail }}</div>
									</div>
									<div class="row"> 
										<div class="col-md-2 centerDiv">Phone: </div>
										<div class="col-md-7 well well-sm">{{ ad.ownerPhone }}</div>
									</div>
								</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h1>Filters</h1>
              <div class="panel panel-default">
                <div class="panel-heading colorHeader">Category</div>
                <div class="panel-body">
                	<a href="" id="" ng-click="setCurrentCategory(null)">All</a>
                	<div ng-repeat="category in categories">
         				<p><a href="" id="{{category.id}}" ng-click="setCurrentCategory(category)">{{ category.name }}</a></p>
         			</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading colorHeader">Town</div>
                <div class="panel-body">
                	<a href="" ng-click="setCurrentTown(null)">All</a>
                	<div ng-repeat="town in towns">
     					<p><a href="" id="{{town.id}}" ng-click="setCurrentTown(town)">{{ town.name }}</a></p>
         			</div>
                </div>
              </div>
		</div>
	</div>
</div>
