<h1>{{home}}</h1>
<div class="row">
  <div class="col-lg-6">
	<div class="well bs-component">
              <form class="form-horizontal" name="editAd">
                <fieldset>
                  <legend>Edit Profile</legend>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Title: </label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control form-validation" id="inputName"  ng-model="currentAd.title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Text: </label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control form-validation" id="inputEmail"   ng-model="currentAd.text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="select" ng-model="currentAd.categoryId">
                        <option selected ng-repeat="category in categories" value="{{town.id}}">{{category.name}}</option>
                      </select>
                  </div>
              </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Town</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="select" ng-model="currentAd.townId">
                        <option selected ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                      </select>
                  </div>
              </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default" ng-click="edit(ad, editAd)">Edit</button>
                      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div></div>
    </div>
    	</fieldset>
  </form>
</div>
</div>