<div class="row">
  <div class="col-md-6">
	<div class="well bs-component">
              <form class="form-horizontal" name="editUserAd">
                <fieldset>
                  <legend>Edit Profile</legend>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-3 control-label">Title: </label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control form-validation" id="inputName"  ng-model="currentAd.title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Text: </label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control form-validation" id="inputEmail"   ng-model="currentAd.text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-3 control-label">Category</label>
                    <div class="col-lg-9">
                      <select class="form-control" id="select" ng-model="currentAd.categoryId">
                        <option selected ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                      </select>
                  </div>
              </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-3 control-label">Town</label>
                    <div class="col-lg-9">
                      <select class="form-control" id="select" ng-model="currentAd.townId">
                        <option selected ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                      </select>
                  </div>
              </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-3">
                      <button class="btn btn-default" ng-click="editAd(currentAd, editUserAd)">Edit</button>
                      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
                    </div>
                  </div>
                </fieldset>
              </form>
			</div>
	</div>

<div class="col-md-6">
	<img src="" ng-src="{{currentAd.imageDataUrl}}" width="100%"/>
</div>
</div>