<div> 
	<ul id="ul" ng-cloak>
		<li ng-repeat="ad in allMyAds.ads" class="row">
			<div class="container well">
				<div class="row">
					<div class="col-md-8">
									<div class="row">
										<div class="col-md-9">
											<h2 class="pull-left">
												{{ ad.title}}
											</h2>
										</div>
										<div class="col-md-3">
											<span class="pull-right">
												{{ad.date | date: 'd-MMM-yyyy'}}
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="image-container">
												<img src="" ng-src="{{ ad.imageDataUrl || defaultImage}}" class="imageSize">
											</div>
										</div>
									<div class="col-md-8">
										<div class="well">
											{{ ad.text }}
										</div>
											<div class="row"> 
												<div class="col-md-3 centerDiv">Category: </div>
												<div class="col-md-8 well well-sm">{{ad.categoryName || defautCategoryText}}</div>
											</div>
											<div class="row"> 
												<div class="col-md-3 centerDiv">Town: </div>
												<div class="col-md-8 well well-sm">{{ ad.townName || defautTownText}}</div>
											</div>
									</div>
						</div>
							</div>										
						<div class="col-md-4" style="border-left: 3px solid #222222; margin-top: 64px;">
												
						<div class="panel panel-default">
							  <div class="panel-heading">Status: </div>
								  <div class="panel-body">
								    {{ad.status}}
								  </div>
						</div>
						<a href="" class="btn btn-default pull-right" ng-click="deactivateAd(ad.id, ad)">Deactivate</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
