<div ng-controller="UserAdsController">
<ul class="breadcrumb">
 <li class="active">MyAds</li>
  <li><a href="#/user/ads" ng-click="setStatus(null)">All</a></li>
  <li><a href="#/user/publishedAds" ng-click="setStatus('Published')">Published</a></li>
  <li><a href="#/user/waitingApprovalAds" ng-click="setStatus('WaitingApproval')">Waiting Approval</a></li>
  <li><a href="#/user/inactiveAds" ng-click="setStatus('Inactive')">Inactive</a></li>
  <li><a href="#/user/rejectedAds" ng-click="setStatus('Rejected')">Rejected</a></li>
</ul>
</div>