<div ng-controller="UserAdsController">
<ul class="breadcrumb">
 <li class="active">MyAds</li>
  <li><a href="#/user/ads" ng-click="setStatus(null)">All</a></li>
  <li><a href="#/user/ads/published" ng-click="setStatus('Published')">Published</a></li>
  <li><a href="#/user/ads/waitingApproval" ng-click="setStatus('WaitingApproval')">Waiting Approval</a></li>
  <li><a href="#/user/ads/inactive" ng-click="setStatus('Inactive')">Inactive</a></li>
  <li><a href="#/user/ads/rejected" ng-click="setStatus('Rejected')">Rejected</a></li>
</ul>
</div>